.dimension-dialog {
  display: flex;
  width: 747px;
  height: 465px;
  border: 1px solid #000000;
  margin-top: 96px;
  flex-direction: column;
  align-items: center;
}

.dimension-dialog > h3 {
  margin-top: 47px;
  font-size: 24px;
}

.dimension-dialog > form {
  display: flex;
  flex-direction: column;
}

.dimension-inputs {
  display: flex;
  margin-top: 72px;
  width: 466.5px;
  justify-content: space-between;
}

.dimension-inputs > .input-group {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 14px;
}

.dimension-inputs > .input-group > input {
  width: 206px;
  height: 51px;
  border: 1px solid #000000;
  margin-top: 8px;
  border-radius: 5px;
  font-size: 30px;
  font-family: inherit;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
  outline-color: #808080;
}

.start-game-btn {
  width: 234px;
  height: 61px;
  background: #000000;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  margin: auto;
  margin-top: 119px;
  cursor: pointer;
  outline-color: #808080;
}

.start-game-btn:hover {
  border: 1px solid #000000;
  background: #FFFFFF;
  color: #000000;
}